* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #d0ebff;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}
.box {
  background-color: #d7d7d7;
  padding-left: 6rem;
  padding: 10rem;
  border-radius: 11px;
  box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.box h2 {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3.2rem;
  color: #000;
  font-family: sans-serif;
}
input {
  padding: 2rem;
  user-select: none;
  height: 5rem;
  width: 40rem;
  border-radius: 0.6rem;
  border: none;
  border: 2px solid #64a6bd;
  outline: none;
  font-size: 2.2rem;
}
input ::placeholder {
  font-size: 26px;
}

#btnGen {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  background-color: #74c0fc;
  color: #fff;
  justify-content: center;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  text-align: center;
  margin-top: 4rem;
  width: 15rem;
  height: 4.6rem;
  padding-top: 1rem;
  margin-left: 30%;
  transition: 0.3s background-color, transform 0.3s;
}
#btnGen:hover {
  color: #fff;
  background-color: #339af0;
}
#btnGen:active {
  transform: translateY(2px);
}
